
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.4.2.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<form name="form1" method="post" action="/View/add_student_page.php" style="float:left">
    <input type="submit" class="myButton" name="Submit" value="Add/Edit Student">
</form>

<form name="form2" method="post" action="/View/add_course_page.php" style="float:left">
    <input type="submit" class="myButton" name="Submit" value="Add/Edit Course">
</form>

<form name="form3" method="post" action="/View/student_course_registration_page.php" style="float:left">
    <input type="submit" class="myButton" name="Submit" value="Map Student to Course">
</form>
<br/><br/><br/>
<footer>
    <a href="/index.php" style="color: white;">Back to home</a>
    By S.SAKET© Student - Course Registration System
</footer>
</body>
</html>
